<div class="grid_3">
    <div class="sidebar">
        @Html.TemplatedPartial("/Shared/PostInfo")
        @Html.TemplatedPartial("/Shared/Catalog")
        @Html.TemplatedPartial("/Shared/Tag")
        @Html.TemplatedPartial("/Shared/Calendar")
        @Html.TemplatedPartial("/Shared/Admin")
    </div>
    @Html.TemplatedPartial("/Shared/About")
</div>
<div class="clear"></div>
